[Unit]
Description=Hysteria2 Server Service (server.json)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hysteria2 -c /etc/hysteria2/config.yaml server
WorkingDirectory=/etc/hysteria2
User=root
Group=root
Environment=HYSTERIA_LOG_LEVEL=info
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
